<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAv6YkYvb-RLvaEdk5Y6gRgxPU65pcsgas</string>
	<key>GCM_SENDER_ID</key>
	<string>499287245065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alippeapp.eventsDema</string>
	<key>PROJECT_ID</key>
	<string>alippeapp-b420e</string>
	<key>STORAGE_BUCKET</key>
	<string>alippeapp-b420e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499287245065:ios:5e7a3c061bc2c602f293d8</string>
</dict>
</plist>